.message{background: -webkit-linear-gradient(to right,#a8c1ffb6, #3f2b96c7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8c1ffb6, #3f2b96c7); 
      background: #a8c0ff;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #a8c1ffb6, #3f2b96c7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #a8c1ffb6, #3f2b96c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}