/* ----------------------------
	Typo
---------------------------- */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, .box > *, textarea, input {
	font-family: 'Comfortaa', sans-serif;
	color: #1d1d1d;
	overflow: hidden;
}

/* ----------------------------
	STRUCTURE
---------------------------- */
html {
  box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-size: 20px;background: #a8c0ff; /* fallback for old browsers */
  background-image: url('./components/space.jpg');
    background-position: center;
    background-size: cover;
	
}
.connexionBox {
	background-image: url('./components/stars.jpeg');
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.connexion {
	max-width: 500px;
	font-size: 24px;
}
.connexion > * {
	width: 100%;
}
.connexion > input {
	box-sizing: border-box;
	font-size: 24px;
	padding: 5px;
	border: 5px solid rgba(33, 149, 243, 0.507);
	border-width: 0 0 5px 0;
	outline: none;
	background-color: #0973c4b3;
	color: #f9f3f3;
}
.box {
	margin: auto;
	display:flex;
	justify-content: center;
 	flex-wrap: wrap;
 	align-items: flex-end;
	width: 100%;
	max-width: 500px;
	height: calc(100vh - 100px);
	padding: 50px 0;
	/*border: 5px solid purple;*/
}

.box > * {
	width: 100%;
}

/* ----------------------------
	MESSAGES
---------------------------- */

.messages {
	flex: 1 1 100%;
	/*border: 5px solid red;*/
	box-sizing: border-box;
	align-self: flex-end;
	max-height: calc(100vh - 310px);
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	border-radius:15px;
}

.messages::-webkit-scrollbar {
    width: 0.4em;
}
 
.messages::-webkit-scrollbar-thumb {
  background-color: #eceff1;
}

/* ----------------------------
	MESSAGE
---------------------------- */
.containerMessage{
	border-radius:15px;
	border-radius: 15px;
	border-style: solid;
	border-width: 1vw;
	border-color:#0f053891;
}
.message {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.message > * {
	padding: 5px 10px;
	max-width: 75%;
	border-radius: 2px;
	margin: 10px 0;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.not-user-message {
	background-color: #eceff198;
	align-self: flex-start;
	position: relative;
	margin-left:1vw;
	text-shadow: 2px 2px 2px rgba(14, 13, 13, 0.747);
}

.not-user-message:after {
	content: '';
	position: absolute;
	top: -7px;
	left: 10px;
	width: 0;
	border-width: 0 10px 7px 0;
	border-style: solid;
	border-color: #eceff1a4 transparent;
 }

.user-message {
	background-color: #2133f3b9;
	color: #fff;
	align-self: flex-end;
	position: relative;
	margin-right:1vw;
	text-shadow: 2px 2px 2px rgba(255, 249, 249, 0.747);
}

.user-message:after {
	content: '';
	position: absolute;
	bottom: -7px;
	right: 10px;
	width: 0;
	border-width: 7px 0 0 10px;
	border-style: solid;
	border-color: #2133f3b9 transparent;
}

/* ----------------------------
	FORMULAIRE
---------------------------- */

.form {
	align-self: flex-end;
}

.form > * {
	width: 100%;
}

textarea {
	box-sizing: border-box;
	height: 120px;
	border: 5px solid #0f053891;
	border-width:5px;
	outline: none;
	font-size: 20px;
	padding: 5px 10px;
	background-color: #0f053891;
	margin-top: 5px;
	color:white;
}

.info {
	text-align: right;
	padding-right: 5px;
}

button {
	font-size: 20px;
	border: none;
	color: white;
	background-color: #2132F3C4;
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
	border-radius: 2px;
	font-family:'Comfortaa'
}

button:disabled {
	background-color: #eceff1;
	cursor:not-allowed;
	color: white;
}

/* ----------------------------
	NotFound
---------------------------- */

.notFound {
	background-image:url(https://media.giphy.com/media/NgekKuYFOHeWk/giphy.gif) ;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;

}

.notFound h2{
	color:white;
	font-size: 3.5vw;
	text-shadow: 4px 4px 2px rgba(14, 13, 13, 0.747);
	background-color:rgba(255, 255, 255, 0.247);
	border-radius:15px;
	padding:1.7vw;
} 